/* ===========================================================
   RESET BÀSIC
   =========================================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===========================================================
   ESTILS GLOBALS
   =========================================================== */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #111;
    padding: 20px;
    color: #fff;
}

/* ------- CONTENIDOR PRINCIPAL ------- */
.container {
    background:
        linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), 
        url(assets/img/foto-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 40px 30px;
    border-radius: 20px;
    max-width: 900px;
    margin: 30px auto;

    box-shadow: 0px 0px 30px rgba(250, 250, 250, 0.3);

    /* Transició per hover (ja fet per tu) */
    transition: transform 0.5s;
}

.container:hover {
    transform: translateY(-7px);
}

/* ===========================================================
   NAVEGACIÓ / MENÚ
   =========================================================== */
.nav, .menu-links {
    display: flex;
    margin: 30px 0 70px 0;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.nav a, .menu-links a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    padding: 10px 50px;
    transition: 0.3s;
}

.nav a:hover, .menu-links a:hover { 
    background-image: url(assets/img/foto-back.jpg); 
    border-radius: 8px; 
    color: #fff;
    padding: 12px 50px;
    box-shadow: 4px 4px 10px rgba(250, 250, 250, 0.2);
}




/* ===========================================================
   FORMULARI
   =========================================================== */
h1{
  font-size: 40px;
  margin-bottom: 35px;

}

/* Etiquetes */
form label {
    display: block;
    margin: 25px 0 2px 5px;
    font-weight: 500;
}

/* ------- Inputs base ------- */
input, select, textarea {
    background-color: #111;
    color: #ddd;
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s; /* TRANSICIÓ */
    font-size: 1rem;
}

/* Focus animat*/
input:focus, select:focus, textarea:focus {
    box-shadow: 0 4px 10px rgba(250, 250, 250, 0.7);
}

/* Validació  */
input:valid { border-color: #ffffff; }
input:invalid { border-color: #e74c3c; }

/* Textarea millorat */
textarea { 
    resize: vertical; 
    min-height: 100px; 
    background-color: #1a1a1a;
}





/* ===========================================================
   INPUTS ESPECIALS 
   =========================================================== */

/* ---------- DATE & TIME PERSONALITZATS ---------- */
input[type="date"], input[type="time"] {
    background-color: #1a1a1a;
    border: 0.5px solid #555;
    color-scheme: white;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
    transition: 0.3s;
}


/* ------INPUT COLOR PERSONALITZAT ----- */

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 0;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease;
}

/* El quadre interior del color (thumb del color picker) */
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 10px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

/* Hover i focus */
input[type="color"]:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(234, 227, 218, 0.848);
}

input[type="color"]:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(254, 254, 254, 0.845);
}


/* ---------- RANGE PERSONALITZAT ---------- */
input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    margin: 15px 0 35px 0;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: #333;
    border-radius: 5px;
    transition: 0.3s;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background: #ce994f;
    border-radius: 50%;
    margin-top: -6px;
    cursor: pointer;
    transition: 0.3s;
}
input[type="range"]::-webkit-slider-thumb:hover {
    background: #357ab8;
    transform: scale(1.3);
}





/* ===========================================================
   CHECKBOX I RADIO CUSTOM 
   =========================================================== */

.opcions{
    padding: 10px 0 10px 0;
}

/* Contenidor de cada opció */
.opcions label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/* Amaguem el checkbox i radio originals */
.opcions input[type="checkbox"],
.opcions input[type="radio"] {
    display: none;
}

/* Caixeta o cercle pel checkbox*/
.opcions label span {
    width: 20px;
    height: 20px;
    border: 2px solid #ce994f;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

/* Els radios són circulars */
.opcions input[type="radio"] + span {
    border-radius: 50%;
}

/* CHECKBOX MARCAT */
.opcions input[type="checkbox"]:checked + span::after {
    content: "✔";
    position: absolute;
    top: -4px;
    left: 3px;
    font-size: 18px;
    color: #67a5ed;
}

/* RADIO MARCAT */
.opcions input[type="radio"]:checked + span::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #67a5ed;
    border-radius: 50%;
    top: 2px;
    left: 2px;
}


/* ===========================================================
   SELECT PERSONALITZAT
   =========================================================== */
select {
    appearance: none;
    background-color: #1f1e1e;
    border: 1px solid #777;
    padding-right: 40px;

    /* Icona ▼ creada amb gradients */
    background-image: 
        linear-gradient(45deg, transparent 50%, #ce994f 50%),
        linear-gradient(135deg, #ce994f 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 3px),
        calc(100% - 15px) calc(1em + 3px);
    background-size: 5px 5px;
    background-repeat: no-repeat;
}


/* ===========================================================
   BOTONS
   =========================================================== */
.botons { 
    margin-top: 20px; 
    display: flex; 
    gap: 15px; 
}

input[type="submit"], input[type="reset"], button {
    cursor: pointer;
    background: #ce994f;
    letter-spacing: 1.5px;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: 600;
    transition: all 0.3s;
}

input[type="submit"]:hover, 
input[type="reset"]:hover, 
button:hover {
    background: #357ab8;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transform: translateY(-2px);
}
